App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.data{
  padding-right: 1%;
}
.pList{
  text-align: left;
  margin-left:10%;
  width:50%;
  float: left;

}
.product{
  background-color:gainsboro;
  border-style: outset;
  border-color:crimson;
  border-width: medium;
  padding: 5%;
  margin-bottom: 5%;
  margin-left: 3%;
  width: 30%;
  float:left;
}
#hide{
  float: right;
}
.productList{
 
 /* float:left;*/
}
.newProductForm{
  width: 30%;;
  float :right;
  padding-top: 8%;
  padding-right: 10%;
}